/* Establece estilos generales, fuentes y colores de fondo */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    background: linear-gradient(135deg, #ff8c00, #ee82ee);
    color: #333;
}

/* Contenedor central para alinear el contenido */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff8c00;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #ff8c00;
    color: #333;
    padding-bottom: 5px;
}

/* Estilos de formulario */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input[type="date"],
input[type="time"],
input[type="number"],
select,
button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #ff8c00;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
}

/* Estilos para los registros del historial */
#historialRegistros .registro {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    position: relative; /* Añadido para posicionar correctamente los botones */
}

/* Estilos para los botones de expandir y contraer */
.registro .expandirBtn,
.registro .contraerBtn {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    background-color: #4caf50; /* Cambia al color deseado para expandir */
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.registro .contraerBtn {
    background-color: #f44336; /* Cambia al color deseado para contraer */
}

.registro .expandirBtn:hover,
.registro .contraerBtn:hover {
    background-color: #45a049; /* Cambia al color deseado para hover */
}

/* Botón de descarga CSV */
#descargarCSV {
    background-color: #8a2be2;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

#descargarCSV:hover {
    background-color: #6a5acd;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }

    button, input[type="date"], input[type="time"], input[type="number"], select {
        font-size: 1rem;
    }
}

/* Estilos para inputs y botones adicionales */
.extras input[type='checkbox'] {
    margin-right: 10px;
}

.extras label {
    margin-right: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}
